html {
  background: linear-gradient(#c68ccee8, #95a5c9d3);
  /* background-repeat: no-repeat; */
  height: 100%;
}

.todoList {
  background-color: whitesmoke;
  width: 350px;
  height: 500px;
  /* margin: 75px auto; */
  /* border: 1px solid black; */
  position: absolute;
  top: 10%;
  left: 30%;
  border-radius: 20px;
}

.form {
  /* position: relative;
    top: 134px;
    left: 29%; */
  z-index: 5;
  width: 300px;
  height: 400px;
  border: 1px solid black;
  text-align: center;
  margin-top: 5%;
  display: none;
  color: white;
}

.fas {
  font-size: 50px;
  position: relative;
  top: 475px;
  left: 45%;
  color: rgb(49, 75, 124);
}

input {
  border-width: 0px;
  border-bottom: 1px solid rgb(65, 63, 63);
  margin-bottom: 15px;
  padding: 5px;
  background: none;
}
.todoList__art {
  margin-left: 30px;
}

.todoList__art--p {
  display: inline-block;
  margin: 0px 5px;
}
h2 {
  margin-bottom: 5px;
}
