body {
  background: linear-gradient(#c68ccee8, #95a5c9d3);
  background-size: cover;
  background-repeat: no-repeat;
  /* height: 100%; */
  padding: 0;
  margin: 0;
}
.container {
  background-color: whitesmoke;
  width: 320px;
  height: 500px;
  margin: 5% auto;
  border-radius: 20px;
  text-align: center;
  z-index: 5;
}
.add__input {
  margin: 15% auto;
  border-width: 0px;
  border-bottom: 1px solid rgb(65, 63, 63);
  margin-bottom: 15px;
  padding: 5px;
  background: none;
}
.todos {
  width: 70%;
  margin: 2% auto;
  padding: 0px;
  list-style: none;
}

.todo-task {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.todo-task__details {
  margin-right: 10%;
}
@media (max-width:500px){
  .container {
    
    width: 80%;
    height: 500px;
  
}}